.btn {
  border-radius: 0.35rem;
  border-color: var(--main-bg-color);
  padding: 0.6rem 1.5rem;
  background-color: var(--main-bg-color);
  transition: opacity ease-in-out 500ms;
  color: #fff;
  text-align: center;
  &:hover {
    opacity: 0.9;
  }
}
