$small-font: 400;
$medium-font: 500;
$large-font: 600;
$larger-font: 700;

@mixin large-text($size) {
  @if $size==mid {
    font-size: 2.5rem;
    font-weight: $larger-font;
    line-height: 1;
  }
  @if $size==lg {
    font-size: 3.85rem;
    font-weight: $larger-font;
    line-height: 1;
  }
}

@mixin grid-column-layouts($amount) {
  grid-template-columns: repeat($amount, minmax(0, 1fr));
}

@mixin grid-row-layouts($amount) {
  grid-template-rows: repeat($amount, minmax(0, 1fr));
}
